:root{
    --LEGEND1-BLACK: #09131C;
    --LEGEND2-WHITE: #F5F5F5;
    --LEGEND3-PINK: #D839A2;
    --FONT-SIZE: clamp(0.65rem, 5vw, 1.25rem);
    --FOOTER-TEXT-GAP: 0.2rem 0;
}
.footer{
    width: 100%;
    height: auto;
    padding: clamp(2rem, 4.5vh, 3rem) 0;
    background-color: var(--LEGEND1-BLACK);
}
.footer h1{
    margin-top: 3rem;
}
.footer__footer-container{
    width: 90%;
    height: auto;
    display: flex;
    flex-flow: row nowrap;
    margin: 3rem auto 0 auto;
    color: var(--LEGEND2-WHITE);
}
/* footer logo - dialogue */
.footer__logo-dialogue{
    width: 25%;
    height: auto;
    padding: 0 clamp(0.5rem, 1.5vw, 1rem);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.footer-logo{
    width: clamp(7.5rem, 10vw, 12rem);
    height: auto;
    border: 3px solid var(--LEGEND2-WHITE);
    border-radius: 50%;
}
.footer-dialogue{
    margin-top: 2rem;
    font-size: var(--FONT-SIZE);
    text-align: start;
}
/* End of footer logo - dialogue */

/* footer links */
.footer__useful-links{
    width: 25%;
    height: auto;
    padding: 0 clamp(0.5rem, 1.5vw, 1rem);
    border-left: 1px solid var(--LEGEND2-WHITE);
}

.footer_ul{
    list-style: square;
    display: inline-block;
    padding: 0 clamp(1rem, 3vw, 2rem);
    font-size: var(--FONT-SIZE);
    margin-top: 1rem;
}
.footer_ul li{
    margin: var(--FOOTER-TEXT-GAP);
    margin-bottom: 1rem;
}
.footer_ul a{
    text-decoration: none;
}
.footer_ul a:active{
    color: var(--LEGEND3-PINK);
}
.footer_ul :is(a){
    color: var(--LEGEND2-WHITE);
}
.footer_ul :is(a:hover, li:hover){
    text-decoration: underline;
}
/* End of footer links */

/* Footer Follow-Us */
.footer__follow-us{
    width: 25%;
    height: auto;
    padding: 0 clamp(0.5rem, 1.5vw, 1rem);
    border-left: 1px solid var(--LEGEND2-WHITE);
}
.footer__follow-us .footer_ul{
    padding: 0 0 0 clamp(0.5rem, 1.5vw, 1rem);
}
:is(.footer__li-Shopee, .footer__li-Facebook, .footer__li-Instagram, .footer__li-Tik-Tok){
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer__li-Shopee:before {
    content: '';
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem;
    background-size: 100%;
    background-image: url("/Images/shopee.png");
    background-repeat: no-repeat;
    margin-right: 0.5rem;
    transform: translateY(0.2rem);
}
.footer__li-Facebook:before {
    content: '';
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem;
    background-size: 100%;
    background-image: url("/Images/facebook.png");
    background-repeat: no-repeat;
    margin-right: 0.5rem;
    transform: translateY(0.2rem);
}
.footer__li-Instagram:before {
    content: '';
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem;
    background-size: 100%;
    background-image: url("/Images/Instagram.png");
    background-repeat: no-repeat;
    margin-right: 0.5rem;
    transform: translateY(0.2rem);
}
.footer__li-Tik-Tok:before {
    content: '';
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem;
    background-size: 100%;
    background-image: url("/Images/Tik-Tok.png");
    background-repeat: no-repeat;
    margin-right: 0.5rem;
    transform: translateY(0.2rem);
}
/* End of Footer Follow-Us */

/* Footer Address */
.footer__address{
    width: 25%;
    height: auto;
    padding: 0 clamp(0.5rem, 1.5vw, 1rem);
    border-left: 1px solid var(--LEGEND2-WHITE);
}
.footer__address li:nth-child(3){
    word-break: break-all;
    overflow-wrap: break-word;
}
/* End of Footer Address */

.footer_credits{
    margin-top: 3rem;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
}
.footer_credits p{
    color: var(--LEGEND2-WHITE);
    font-size: calc(var(--FONT-SIZE) + 0.5vw);
    letter-spacing: 0.5rem;
    text-align: center;
}
.credits{
    margin: 1.5rem 0;
}
.footer_credits a{
    color: var(--LEGEND2-WHITE);
}
.footer_credits a:hover{
    color: var(--LEGEND3-PINK);
}
/* EXTRA SMALL SCREEN */
@media screen and (max-width: 481px) {
    .footer h1{
        margin-top: 0;
    }
    .header_links::after{
        content: ">";
        width: 20px;
        height: 20px;
        display: inline-block;
        color: var(--LEGEND2-WHITE);
        transform: rotate(-0.75turn) translateX(10px) translateY(-30px);
        
    }
    .footer__footer-container{
    flex-flow: column nowrap;
        margin: 1rem auto 0 auto;
    }
    .footer__logo-dialogue{
        width: 100%;
    }
    .footer__useful-links{
        width: 100%;
        margin-top: 1rem;
        padding-top: 1rem;
        border-left: 0px solid var(--LEGEND2-WHITE);
        border-top: 1px solid var(--LEGEND2-WHITE);
    }
    .footer__follow-us{
        width: 100%;
        margin-top: 1rem;
        padding-top: 1rem;
        border-left: 0px solid var(--LEGEND2-WHITE);
        border-top: 1px solid var(--LEGEND2-WHITE);
    }
    .footer__address{
        width: 100%;
        margin-top: 1rem;
        padding-top: 1rem;
        border-left: 0px solid var(--LEGEND2-WHITE);
        border-top: 1px solid var(--LEGEND2-WHITE);
    }
    .footer ul{
        display: none;
        opacity: 0;
    }
    .footer .active-footer-links{
        animation-name: footer-ease-in;
        animation-duration: 0.5s;
        animation-timing-function: ease-in;
        animation-fill-mode: forwards;
        opacity: 1;
    }
    @keyframes footer-ease-in {
        0%{
            opacity: 0;
            transform: translateY(-20px);
        }
        100%{
            opacity: 1;
            transform: translateY(0);
        }
    }
    .footer .active-footer-follow{
        animation-name: follow-ease-in;
        animation-duration: 0.5s;
        animation-timing-function: ease-in;
        animation-fill-mode: forwards;
        opacity: 1;
    }
    @keyframes follow-ease-in {
        0%{
            opacity: 0;
            transform: translateY(-20px);
        }
        100%{
            opacity: 1;
            transform: translateY(0);
        }
    }
    .footer .active-footer-address{
        animation-name: follow-ease-in;
        animation-duration: 0.5s;
        animation-timing-function: ease-in;
        animation-fill-mode: forwards;
        opacity: 1;
    }
    @keyframes address-ease-in {
        0%{
            opacity: 0;
            transform: translateY(-20px);
        }
        100%{
            opacity: 1;
            transform: translateY(0);
        }
    }
}
/* SMALL SCREEN */
@media screen and (min-width: 481px) and (max-width: 768px) {
    .footer h1{
        margin-top: 0;
    }
    .header_links::after{
        content: ">";
        width: 20px;
        height: 20px;
        display: inline-block;
        color: var(--LEGEND2-WHITE);
        transform: rotate(-0.75turn) translateX(10px) translateY(-30px);
        
    }
    .footer__footer-container{
    flex-flow: column nowrap;
        margin: 1rem auto 0 auto;
    }
    .footer__logo-dialogue{
        width: 100%;
    }
    .footer__useful-links{
        width: 100%;
        margin-top: 1rem;
        padding-top: 1rem;
        border-left: 0px solid var(--LEGEND2-WHITE);
        border-top: 1px solid var(--LEGEND2-WHITE);
    }
    .footer__follow-us{
        width: 100%;
        margin-top: 1rem;
        padding-top: 1rem;
        border-left: 0px solid var(--LEGEND2-WHITE);
        border-top: 1px solid var(--LEGEND2-WHITE);
    }
    .footer__address{
        width: 100%;
        margin-top: 1rem;
        padding-top: 1rem;
        border-left: 0px solid var(--LEGEND2-WHITE);
        border-top: 1px solid var(--LEGEND2-WHITE);
    }
    .footer ul{
        display: none;
        opacity: 0;
    }
    .footer .active-footer-links{
        animation-name: footer-ease-in;
        animation-duration: 0.5s;
        animation-timing-function: ease-in;
        animation-fill-mode: forwards;
        opacity: 1;
    }
    @keyframes footer-ease-in {
        0%{
            opacity: 0;
            transform: translateY(-20px);
        }
        100%{
            opacity: 1;
            transform: translateY(0);
        }
    }
    .footer .active-footer-follow{
        animation-name: footer-ease-in;
        animation-duration: 0.5s;
        animation-timing-function: ease-in;
        animation-fill-mode: forwards;
        opacity: 1;
    }
    @keyframes footer-ease-in {
        0%{
            opacity: 0;
            transform: translateY(-20px);
        }
        100%{
            opacity: 1;
            transform: translateY(0);
        }
    }
    .footer .active-footer-address{
        animation-name: address-ease-in;
        animation-duration: 0.5s;
        animation-timing-function: ease-in;
        animation-fill-mode: forwards;
        opacity: 1;
    }
    @keyframes address-ease-in {
        0%{
            opacity: 0;
            transform: translateY(-20px);
        }
        100%{
            opacity: 1;
            transform: translateY(0);
        }
    }
}
/* MEDIUM SCREEN */
@media screen and (min-width: 768px) and (max-width: 1024px) {
}
/* LARGE SCREEN */
@media screen and (min-width: 1025px) and (max-width: 1200px) {
}
/* EXTRA LARGE SCREEN */
@media screen and (min-width: 1201px) {
}
/* MOBILE DEVICE LANDSCAPE */
@media screen and (max-height: 425px) and (min-aspect-ratio: 7/4){
}