:root{
    --LEGEND1-BLACK: #09131C;
    --LEGEND2-WHITE: #F5F5F5;
    --LEGEND3-PINK: #D839A2;
}
.models-container{
    background-color: var(--LEGEND1-BLACK);
    width: 100%;
    height: auto;
    padding: clamp(2rem, 4.5vh, 4rem) 0;
}
#models{
    scroll-margin-top: 8rem;
}

/* Container of models */
.models-container__models{
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    width: 80%;
    margin: 0 auto;
    position: relative;
}
@media screen and (max-width:  1024px) {
    .models-container__models{
        width: 90%;
    }
}
/* WayWeWore */
.models-container__waywewore{
    text-transform: uppercase;
    color: var(--LEGEND2-WHITE);
    font-size: clamp(1rem, 4vw, 2rem);
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: end;
}
.models-container__waywewore > h1{
    transform: rotate(-90deg);
}
.models-container__models-slider-container{
    width: 50%;
    height: 60vh;
    position: relative;
    overflow: hidden;
}
/* End of WayWeWore */

/* Model Slide */
.models-container__models-slide{
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all linear 0.5s;
}
.models-container__logo{
    position: relative;
    width: 100%;
    height: 100%;
}
.models-container__logo > img{
    position: absolute;
    border-radius: 1vh;
    width: 5vh;
    height: 5vh;
    right: 2.5%;
    bottom: 2.5%;
}
/* .models-container__models-slide:nth-child(1){
    left: 0;
}
.models-container__models-slide:nth-child(2){
    left: 100%;
}
.models-container__models-slide:nth-child(3){
    left: 200%;
}
.models-container__models-slide{
    transform: translateX(0%);
} */
/* Model background */
.models-container__models-slide:nth-child(1) > .models-container__slide-image{
    width: 100%;
    height: 70%;
    background-image: url(/Images/Model-Marvin.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.models-container__models-slide:nth-child(2) > .models-container__slide-image{
    width: 100%;
    height: 70%;
    background-image: url(/Images/Capture.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.models-container__models-slide:nth-child(3) > .models-container__slide-image{
    width: 100%;
    height: 70%;
    background-image: url(/Images/maxresdefault.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/* End of Model background */

/* Buttons */
.models-container__buttons{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}
.models-container__buttons > button{
    width: 2.5vw;
    height: 3vh;
    cursor: pointer;
    font-size: clamp(1rem, 5vh, 2rem);
    font-weight: bolder;
    color: var(--LEGEND2-WHITE);
    border: 0;
    background-color: transparent;
    margin-right: clamp(0.5em, 1vw, 1em);
}
/* End of buttons */

/* Dialogue and model name*/
.models-cantainer__dialogue{
    font-size: clamp(0.65rem, 5vw, 1.25rem);
    margin: 2% 10% 0 0.5%;
    color: var(--LEGEND2-WHITE);
}
.models-container__model-name{
    display: inline-block;
    font-size: clamp(0.5rem, 5vw, 1.2rem);
    color: var(--LEGEND3-PINK);
    border-bottom: 3px solid var(--LEGEND3-PINK);
    padding-right: 1.5rem;
    width: auto;
    position: absolute;
    bottom: 1rem;
    left: 0.5%;
}
/* End of Dialogue and Model Name */

/* End of Model Slide */

/* EXTRA SMALL SCREEN */
@media screen and (max-width: 481px) {
    #menu-container-mobile{
    width: 100vw;
    }
    .models-container__models-slider-container{
        width: 100%;
    }
    .models-container__waywewore{
        width: 100%;
        text-align: center;
    }
    .models-container__waywewore > h1{
        transform: rotate(0) translate(0%);
        width: 100%;
        text-align: center;
        margin: 0 0 1rem 0;
    }
    .models-container__models{
        flex-flow: column nowrap;
    }
}
/* SMALL SCREEN */
@media screen and (min-width: 481px) and (max-width: 768px) {
    .models-container__models-slider-container{
        width: 100%;
    }
    .models-container__waywewore{
        width: 100%;
        text-align: center;
    }
    .models-container__waywewore > h1{
        transform: rotate(0) translate(0%);
        width: 100%;
        text-align: center;
        margin: 0 0 2rem 0;
    }
    .models-container__models{
        flex-flow: column nowrap;
    }
}
/* MEDIUM SCREEN */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .models-container__models-slider-container{
        width: 70%;
        height: 60vh;
    }
    .models-container__waywewore > h1{
        transform: rotate(-90deg) translateY(130%);
    }
}
/* LARGE SCREEN */
@media screen and (min-width: 1025px) and (max-width: 1200px) {
    .models-container__models-slider-container{
        width: 60%;
        height: 60vh;
    }
}
/* EXTRA LARGE SCREEN */
@media screen and (min-width: 1201px) {
}
/* MOBILE DEVICE LANDSCAPE */
@media screen and (max-height: 425px) and (min-aspect-ratio: 7/4){
    #menu-mobile{
        height: 50%;
    }
}