@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');
/* RESET */
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Goldman', cursive;
    scroll-behavior: smooth;
}

body{
    /* font-family: 'Goldman', cursive; */
    background-color: #F5F5F5;
}
:root{
    --LEGEND1-BLACK: #09131C;
    --LEGEND2-WHITE: #F5F5F5;
    --LEGEND3-PINK: #D839A2;
}
/* Navigation bar */
.nav{
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    margin: 1rem auto;
}
/* nav button and img */
.nav button, nav button img{
    width: 2rem;
    height: 2rem;
}
/* nav button */
.nav #nav__hamburger-menu{
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#menu-icon,
#menu-icon::before,
#menu-icon::after{
    height: 5px;
    width: 40px;
    border-radius: 5px;
    background-color: var(--LEGEND1-BLACK);
    position: absolute;
    transition: all 0.5s;
}
#menu-icon::before,
#menu-icon::after{
    content: "";
}
#menu-icon::before{
    transform: translate(-20px, 12px);
}
#menu-icon::after{
    transform: translate(-20px, -12px);
}
/* menu */
.nav #nav__menu{
    width: max(40vw, 30rem);
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    text-shadow: var(--LEGEND1-BLACK) 0.5px 0.5px 0.05rem;
}
#nav__menu a, #nav__menu a:visited{
    color: var(--LEGEND1-BLACK);
    text-decoration: none;
    font-size: 2.25rem;
} 
#nav__menu a:hover{
    text-decoration: underline;
    /* text-shadow: var(--LEGEND1-BLACK) 0.5px 0.5px 0.05rem; */
} 
#nav__menu a:active{
    color: var(--LEGEND3-PINK);
} 
/* figure */
.nav #nav__logo, nav #nav__logo img{
    width: 3.3rem;
    height: 3.3rem;
}
/* nav logo */
.nav #nav__logo{
    border: 0;
    background-color: transparent;
    cursor: pointer;
    filter: drop-shadow(0 0 0.2rem #09131C);
}
/* Mobile Menu */
#menu-container-mobile{
    display: none;
    justify-content: space-between;
    padding: 3rem 2rem 0 2rem;
    width: 80vw;
    height: 100vh;
    background-color: var(--LEGEND1-BLACK);
    position: absolute;
    top: 0;
    left: 0;
    animation-name: nav-menu-slide-left;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    z-index: 3;
}
/* animation of mobile menu */
@keyframes nav-menu-slide-left {
    0%{
        transform: translate(-100%);
    }
    50%{
        transform: translate(-50%);
    }
    100%{
        transform: translate(0%);
    }
}
/* menu-mobile */
#menu-mobile{
    height: 25%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
#menu-mobile{
    list-style-type: none;
}
#menu-mobile a:link, #menu-mobile a:visited{
    color: var(--LEGEND2-WHITE);
    padding: 0;
    text-decoration: none;
    font-size: 1.5rem;
    text-shadow: var(--LEGEND2-WHITE) 0.5px 0.5px 0.05rem;
}
#menu-mobile a:hover{
    text-decoration: underline;
}
#menu-mobile a:active{
    color: var(--LEGEND3-PINK);
}
/* menu close button */
#close-button{
    border: 0;
    background-color: transparent;
    cursor: pointer;
    color: var(--LEGEND2-WHITE);
}
#close-button, #close-button img{
    width: 1rem;
    height: 1rem;
}

/* Nav menu breakpoints */
@media screen and (max-width: 768px) {
    .nav #nav__menu{
        display: none;
    }
    .nav{
        width: 90%;
    }
}
@media screen and (min-width: 769px) {
    .nav #nav__hamburger-menu{
        display: none;
    }
}
/* Logo breakpoints */
@media screen and (min-width: 481px) and (max-width: 768px) {
    .nav #nav__logo, nav #nav__logo img{
        width: 3.5rem;
        height: 3.5rem;
    }
}
@media screen and (min-width: 769px) {
    .nav #nav__logo, nav #nav__logo img{
        width: 4rem;
        height: 4rem;
    }
}
/* EXTRA SMALL SCREEN */
@media screen and (max-width: 481px) {
    /* body {
        background-color: rgb(146, 144, 90);
      } */
    #menu-container-mobile{
    width: 100vw;
    }
}
/* SMALL SCREEN */
@media screen and (min-width: 481px) and (max-width: 768px) {
    /* body {
      background-color: lightgreen;
    } */
  }
/* MEDIUM SCREEN */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    /* body {
      background-color: rgb(144, 211, 238);
    } */
    .nav{
        width: 90%;
    }
  }
/* LARGE SCREEN */
@media screen and (min-width: 1025px) and (max-width: 1200px) {
    /* body {
      background-color: rgb(180, 144, 238);
    } */
  }
/* EXTRA LARGE SCREEN */
@media screen and (min-width: 1201px) {
    /* body {
      background-color: rgb(238, 144, 200);
    } */
  }
  
/* MOBILE DEVICE LANDSCAPE */
@media screen and (max-height: 425px) and (min-aspect-ratio: 7/4){
    #menu-mobile{
        height: 50%;
    }
}