.short-slider-container{
    border: 5px solid rgb(97, 97, 236);
    width: 80vw;
    margin: 0 auto;
    height: 40vh;
    max-width: 80rem;
    position: relative;
    border-radius: 0.5rem;
    /* overflow: hidden; */
    margin-top: 4rem;
}

.short-slide{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(52, 219, 127);
    color: rgb(255, 255, 255);
    display: grid;
    place-items: center;
    transition: all 0.25s ease-in-out;
    text-align: center;
}

/* .short-slide:nth-child(1){
    left: 0;
    background: rgb(52, 219, 127);
}
.short-slide:nth-child(2){
    left: 100%;
    background: rgb(52, 138, 219);
}
.short-slide:nth-child(3){
    left: 200%;
    background: rgb(113, 52, 219);
}
.short-slide:nth-child(4){
    left: 300%;
    background: rgb(219, 52, 166);
}
.short-slide:nth-child(5){
    left: 400%;
    background: rgb(219, 52, 83);
}
.short-slide{
    transform: translateX(-99.99999%);
} */