.product{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 80%;
    gap: clamp(1rem, 5vh, 5rem);
    margin: clamp(1rem, 5vh, 5rem) auto;
    padding-bottom: clamp(1rem, 5vh, 5rem);
}
#tshirt{
    border-bottom: 3px solid black;
}
#tshort{
    margin-bottom: 0;
}
/* Shirt */
.product__shirt{
    width: clamp(20rem, 55vh, 45vh);
    /* height: clamp(20rem, 50vh, 60vh); */
    height: auto;
    border-radius: 1rem;
    position: relative;
}

.product__shirt > img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    align-items: center;
}
/* Short */
.product__short{
    width: clamp(20rem, 55vh, 45vh);
    /* height: clamp(20rem, 50vh, 60vh); */
    height: auto;
    border-radius: 1rem;
    position: relative;
}

.product__short > img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    align-items: center;
}

.product__logo{
    width: 5vh;
    height: 5vh;
    border-radius: 1vh;
    position: absolute;
    right: 2.5%;
    bottom: 2.5%;
}

.product__description{
    position: absolute;
    bottom: 2.5%;
    left: 2.5%;
    font-size: clamp(0.8rem, 10vh, 1rem);
    text-shadow: #000 0.1px 0.1px 0.05rem;
    border-radius: 1rem;
    max-width: 75%;
    padding: 0.2em 0.6em;
    background: linear-gradient( #fff, rgba(224, 224, 224, 0.903), rgba(224, 224, 224, 0.815), rgba(228, 227, 227, 0.678),  rgba(240, 240, 240, 0.442), transparent);
}

/* SMALL SCREEN */
@media screen and (max-width: 768px) {
    /* body {
      background-color: lightgreen;
    } */
    .product{
        width: 90%;
    }
    .product__description{
        font-size: clamp(0.2rem, 2vh, 1rem);
}
  }
/* MEDIUM SCREEN */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    /* body {
      background-color: rgb(144, 211, 238);
    } */
    .product{
        width: 90%;
    }
  }